<div class="toolbar">
  <a href="#" class="ml-10" [routerLink]="['edit-profile']">
    <span class="user-icon">
      <i class="fa fa-user" aria-hidden="true"></i>
    </span>
  </a>

  <div class="pull-right toolbar-control-icons">
    <a href="#" class="control-icon">
      <i class="material-icons">comment</i>
    </a>
    <a href="#" class="control-icon">
      <i class="material-icons">group</i>
    </a>
    <a href="#" class="control-icon pl-0">
      <i class="material-icons">more_vert</i>
    </a>
  </div>
</div>

<div class="search-bar-left">
  <div class="search-input">
    <i class="material-icons">search</i>
    <input placeholder="Search"/>
  </div>
</div>

<div class="list list-style-1">
  <a href="#" class="list-item" [routerLink]="['/chat','messages',1]">
    <div class="pull-left item-image-block">
            <span class="user-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
    </div>
    <div class="pull-left detail">
      <div class="pull-left">
        <span class="font-weight-bold title">Other@user.net</span>
        <span class="sub-title">
                <span class="checks read pull-left"><i class="material-icons">check</i><i class="material-icons">check</i></span>
                <span class="not-clear pull-left">Hey? Are you there?</span>
              </span>
      </div>
      <div class="pull-right">
        <span class="pull-right time">10:37 PM</span>
        <span class="pull-right count">12</span>
        <span class="pull-right active-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
      </div>
    </div>
  </a>
  <a href="#" class="list-item" [routerLink]="['/chat','messages',2]">
    <div class="pull-left item-image-block">
            <span class="user-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
    </div>
    <div class="pull-left detail">
      <div class="pull-left">
        <span class="font-weight-bold title">Other@user.net</span>
        <span class="sub-title">
                <span class="not-clear pull-left">Hey? Are you there?</span>
              </span>
      </div>
      <div class="pull-right">
        <span class="pull-right time">10:37 PM</span>
        <span class="pull-right count">12</span>
        <span class="pull-right active-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
      </div>
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="pull-left item-image-block">
            <span class="user-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
    </div>
    <div class="pull-left detail">
      <div class="pull-left">
        <span class="font-weight-bold title">Other@user.net</span>
        <span class="sub-title">
                <span class="not-clear pull-left">Hey? Are you there?</span>
              </span>
      </div>
      <div class="pull-right">
        <span class="pull-right time">10:37 PM</span>
        <span class="pull-right count">12</span>
        <span class="pull-right active-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
      </div>
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="pull-left item-image-block">
            <span class="user-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
    </div>
    <div class="pull-left detail">
      <div class="pull-left">
        <span class="font-weight-bold title">Other@user.net</span>
        <span class="sub-title">
                <span class="not-clear pull-left">Hey? Are you there?</span>
              </span>
      </div>
      <div class="pull-right">
        <span class="pull-right time">10:37 PM</span>
        <span class="pull-right count">12</span>
        <span class="pull-right active-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
      </div>
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="pull-left item-image-block">
            <span class="user-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
    </div>
    <div class="pull-left detail">
      <div class="pull-left">
        <span class="font-weight-bold title">Other@user.net</span>
        <span class="sub-title">
                <span class="not-clear pull-left">Hey? Are you there?</span>
              </span>
      </div>
      <div class="pull-right">
        <span class="pull-right time">10:37 PM</span>
        <span class="pull-right count">12</span>
        <span class="pull-right active-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
      </div>
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="pull-left item-image-block">
            <span class="user-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
    </div>
    <div class="pull-left detail">
      <div class="pull-left">
        <span class="font-weight-bold title">Other@user.net</span>
        <span class="sub-title">
                <span class="not-clear pull-left">Hey? Are you there?</span>
              </span>
      </div>
      <div class="pull-right">
        <span class="pull-right time">10:37 PM</span>
        <span class="pull-right count">12</span>
        <span class="pull-right active-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
      </div>
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="pull-left item-image-block">
            <span class="user-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
    </div>
    <div class="pull-left detail">
      <div class="pull-left">
        <span class="font-weight-bold title">Other@user.net</span>
        <span class="sub-title">
                <span class="not-clear pull-left">Hey? Are you there?</span>
              </span>
      </div>
      <div class="pull-right">
        <span class="pull-right time">10:37 PM</span>
        <span class="pull-right count">12</span>
        <span class="pull-right active-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
      </div>
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="pull-left item-image-block">
            <span class="user-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
    </div>
    <div class="pull-left detail">
      <div class="pull-left">
        <span class="font-weight-bold title">Other@user.net</span>
        <span class="sub-title">
                <span class="not-clear pull-left">Hey? Are you there?</span>
              </span>
      </div>
      <div class="pull-right">
        <span class="pull-right time">10:37 PM</span>
        <span class="pull-right count">12</span>
        <span class="pull-right active-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
      </div>
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="pull-left item-image-block">
            <span class="user-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
    </div>
    <div class="pull-left detail">
      <div class="pull-left">
        <span class="font-weight-bold title">Other@user.net</span>
        <span class="sub-title">
                <span class="not-clear pull-left">Hey? Are you there?</span>
              </span>
      </div>
      <div class="pull-right">
        <span class="pull-right time">10:37 PM</span>
        <span class="pull-right count">12</span>
        <span class="pull-right active-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
      </div>
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="pull-left item-image-block">
            <span class="user-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
    </div>
    <div class="pull-left detail">
      <div class="pull-left">
        <span class="font-weight-bold title">Other@user.net</span>
        <span class="sub-title">
                <span class="not-clear pull-left">Hey? Are you there?</span>
              </span>
      </div>
      <div class="pull-right">
        <span class="pull-right time">10:37 PM</span>
        <span class="pull-right count">12</span>
        <span class="pull-right active-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
      </div>
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="pull-left item-image-block">
            <span class="user-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
    </div>
    <div class="pull-left detail">
      <div class="pull-left">
        <span class="font-weight-bold title">Other@user.net</span>
        <span class="sub-title">
                <span class="not-clear pull-left">Hey? Are you there?</span>
              </span>
      </div>
      <div class="pull-right">
        <span class="pull-right time">10:37 PM</span>
        <span class="pull-right count">12</span>
        <span class="pull-right active-arrow"><i class="material-icons">keyboard_arrow_down</i></span>
      </div>
    </div>
  </a>
</div>
